.logo-principal {
    width: 50px;
    height: 50px;
}

.fondo-principal {
    background: linear-gradient(135deg, #000000, #1a1a1a, #111111);
    background-size: 150px 150px;
    animation: animacion-fondo 100s ease infinite;
    min-height: 100vh;
    margin: 0;
}

.btn {
    background-color: rgba(246, 9, 9, 0.655);
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.fila2 {
  margin-top: 20px;
  align-items: center;
  margin-bottom: 8px;
}

@keyframes animacion-fondo {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#titulo-logo{
    font-family: 'Sofia Sans', sans-serif;
}

#titulo-principal{
    font-family: 'Sofia Sans', sans-serif;
}

#correo-principal {
    font-family: 'Sofia Sans', sans-serif;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 17px;
}


#div1 {
    margin-top: 15px;
}

#div3 {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
    height: 50px;
    max-width: 800px;
    text-align: center;
}